{tp:access action='add'}
<a class="btn btn-primary radius" href="javascript:;" onclick="layer_open('添加','{:\\think\\Url::build(\'add\')}')"><i class="Hui-iconfont">&#xe600;</i> 添加</a>
{/tp:access}

{tp:access action='delete'}
<a href="javascript:;" onclick="del_all('{:\\think\\Url::build(\'delete\')}')" class="btn btn-danger radius ml-5"><i class="Hui-iconfont">&#xe6e2;</i> 删除</a>
{/tp:access}

{tp:access action='forbid'}
<a href="javascript:;" onclick="layer_open('上传文件','{:\\think\\Url::build(\'import\')}')" class="btn btn-warning radius ml-5"><i class="Hui-iconfont">&#xe645;</i> 批量导入</a>
{/tp:access}

<form action="{:\\think\\Url::build(\'export\')}" target="_blank" method="post">
    <button class="btn btn-success ml-5" style="margin-left:280px;margin-top:-55px" type="submit">导出Excel</button>
</form>

